.desktop-contacts-search {
  min-width: 450px;
}

.nav-bar-item {
  margin-right: 15;
}

.desktop-contact-list {
  padding-left: 0;
  padding-right: 0;
  height: 100%;
  overflow: scroll;
}

.contact-item {
  padding-bottom: 15px;
  padding-top: 15px;
  background-color: #f7f7f9;
  border: 1px solid rgba(86,61,124,.2);
  cursor: pointer;
}

.contact-item.selected {
  background-color: rgba(86,61,124,.15);
}

.contact-pic {
  padding-left: 45px;
}

.desktop-contact-profile {
  padding-left: 45px;
  padding-top: 30px;
}

.mobile-contact-profile {
  padding-left: 25px;
  padding-right: 25px;
}

.contact-data-line {
  margin-top: 20px;
  padding-top: 15px;
  padding-left: 15px;
}

.contact-divided-data-line {
  padding-left: 0;
}

.contact-profile-pic {
  min-width: 150px;
}

.contact-profile-title {
  margin-left: 20px;
}

.control-panel {
  margin-bottom: 10px;
}

.contact-profile-header {
  padding-top: 20px;
}
