.desktop-contacts-search {
  min-width: 450px;
}

.nav-bar-item {
  margin-right: 15;
}

.desktop-contact-list {
  padding-left: 0;
  padding-right: 0;
  max-width: 30%;
  height: 100%;
  overflow: scroll;
}

.contact-item {
  padding-bottom: 30px;
  background-color: #d0cccc;
}

.contact-pic {
  float: left;
  margin-right: 15px;
}

.desktop-contact-profile {
  padding-left: 45px;
  padding-top: 30px;
}

.mobile-contact-profile {
  padding-left: 25px;
  padding-right: 25px;
}

.contact-data-line {
  padding-top: 15px;
  padding-left: 15px;
}

.contact-profile-pic {
  min-width: 150px;
}

.contact-profile-title {
  margin-left: 20px;
}

.control-panel {
  margin-bottom: 10px;
}

.contact-profile-header {
  padding-top: 20px;
}
