<div class="pull-right">
  <div favorite="contact.favorite" class="nav-bar-item" ng-click="favoriteClick(contact)"></div>
  <span class="fa fa-pencil nav-bar-item"></span>
</div>
<div class="row contact-profile-header">
  <div class="col-4 contact-profile-pic">
    <img src="{{contact.largeImageURL}}">
  </div>
  <div class="col-6 contact-profile-title">
    <h3><b>{{contact.name}}</b></h3>
    <br>
    <h5>Company:</h5>
    <h4><b>{{contact.company}}</b></h4>
  </div>
</div>
<div class="contact-data-line">
  <div class="row">Phone:</div>
  <h5 class="row">
    <div class="col-10 contact-divided-data-line">
      {{contact.phone.home}}
    </div>
    <div class="col-2">Home</div>
  </h5>
</div>
<div class="contact-data-line">
  <div class="row">Address:</div>
  <h5 class="row">
      {{contact.address.street}}
  </h5>
  <h5 class="row">
    {{contact.address.city}}, {{contact.address.state}} {{contact.address.zip}}
  </h5>
</div>
<div class="contact-data-line">
  <div class="row">Birthday:</div>
  <h5 class="row">
      {{toDate(contact.birthdate)}}
  </h5>
</div>
<div class="contact-data-line">
  <div class="row">Email:</div>
  <h5 class="row">
    <div class="col-10 contact-divided-data-line">
      {{contact.email}}
    </div>
    <div class="col-2">Work</div>
  </h5>
</div>
