<div ng-controller="ContactIndexCtrl" ng-init="bootstrap()">
  <div class="col-md-4">
    <div class="list-group">
      <div ng-repeat="contact in contacts">
        <a href="#" class="list-group-item" ng-click="selectContact(contact)">
          <div class="row">
            <div class="col-xs-4">
              <img src="{{contact.smallImageURL}}">
            </div>
            <div class="col-xs-8">
              <h4 class="list-group-item-heading">{{contact.name}}</h4>
              <p class="list-group-item-text">{{contact.phone.home}}</p>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
  <div class="col-md-8">
    <div class="row">
      <div class="col-xs-4">
        <img src="{{currentContact.largeImageURL}}">
      </div>
      <div class="col-xs-8">
        <strong>{{currentContact.name}}</strong>
        <br>
        Company:
        <br>
        <strong>{{currentContact.company}}</strong>
      </div>
    </div>
    <div class="row">
      <br>
      Phone:
      <br>
      <b>
        {{currentContact.phone.home}}
        <div class="pull-right">Home</div>
      </b>
      <br>
      Address:
      <b>
        <br>
        {{currentContact.address.street}}
        <br>
        {{currentContact.address.city}}, {{currentContact.address.state}} {{currentContact.address.zip}}
      </b>
      <br>
      Birthday:
      <b>
        <br>
        <strong>{{toDate(currentContact.birthdate)}}</strong>
      </b>
      <br>
      Email:
      <b>
        <br>
        <strong>{{currentContact.email}}</strong>
      </b>
    </div>
  </div>
</div>
